<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChatterSquare</title>
  <link rel="stylesheet" href="./resources/css/square.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Dancing+Script&family=Lora&family=Montserrat&family=Source+Code+Pro&display=swap" rel="stylesheet"> 
</head>
<body>
  <div class="nav">
    <div class="left">
      <div class="logo image"></div>
      <p><strong>The Square</strong></p>
    </div>
    <div class="right">
      <p class="name" onclick="window.location.href='./profile'"><%=locals.session.user.username%></p>
      <div class="pfp image"></div>
    </div>
  </div>
  <div class="content">

    <div class="channels">
      <div onclick="changeSquare('general');">General</div>
      <div onclick="changeSquare('programming');">Programming</div>
      <div onclick="changeSquare('sports');">Sports</div>
      <div onclick="changeSquare('travel');">Travel</div>
    </div>

    <div class="chatBody">
      <h1 class="chatHeader" id="chatHeader">Welcome to General!</h1>
      <div class="textBar">
        <form id="form">
          <input type="text" name="message" id="textbar" autocomplete="off" placeholder="Type a message..."/>
          <button type="submit">Send</button>
        </form>
      </div>

      <div class="messages" id="messages">
        
      </div>
    </div>
  </div>

  <script src="https://cdn.socket.io/4.5.3/socket.io.min.js" integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi" crossorigin="anonymous"></script>
  <script>
    var socket = io();
    var messages = document.getElementById('messages');
    var form = document.getElementById('form');
    var input = document.getElementById('textbar');
    var chatHeader = document.getElementById('chatHeader');
    var channel = 'general';

    form.addEventListener('submit', function(e) {
      e.preventDefault();
      if (input.value) {
        socket.emit('message', {"username": "<%=locals.session.user.username%>", "userid": "<%=locals.session.user.userId%>", "message": input.value, "square": channel});
        input.value = '';
      }
    });

    socket.on("alert", (data) => {
      var alert = document.getElementById("alert");
      var alertBox = document.createElement("div");
      alertBox.id = "alertbox";
      alertBox.classList.add("alert");
      alertBox.classList.add("alert-danger");
      alertBox.setAttribute("role", "alert");
      alertBox.innerHTML = data.message;
      alert.appendChild(alertBox);
    });

    socket.on('message', function(msg) {
      if (msg.square != channel) {
        return;
      }
      var elt = document.createElement('div');
      elt.classList.add("message");
      elt.innerHTML = `<strong>${msg.username}:</strong> ${msg.message}`;
      messages.appendChild(elt);
      messages.scrollTo(0, messages.scrollHeight);
    });

    function changeSquare(square) {
      channel = square;
      chatHeader.innerHTML = `Welcome to ${channel[0].toUpperCase() + channel.slice(1)}!`;
      socket.emit('changeSquare', {"square": square});
      var alertBox = document.getElementById("alertbox");
      if (alertBox) {
        alertBox.remove();
      }
      while (messages.firstChild)
        messages.removeChild(messages.firstChild);
    }
  </script>
</body>
</html>