<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChatterSquare</title>
  <link rel="stylesheet" href="./resources/css/square.css">
</head>
<body>
  <div class="nav">
    <div class="left">
      <div class="logo image"></div>
      <p>The Square</p>
    </div>
    <div class="right">
      <p>Username</p>
      <div class="pfp image"></div>
    </div>
  </div>
  <div class="content">

    <div class="channels">
      <div>General</div>
      <div>Programming</div>
      <div>Sports</div>
      <div>Travel</div>
    </div>

    <div class="chatBody">
      <h1 class="chatHeader">Welcome to General!</h1>
      <div class="textBar">
        <input type="text" name="message" id="textbar" placeholder="Type a message..."/>
        <button>Send</button>
      </div>

      <div class="messages">
        <div class="message">Kyle: Hello,</div>
        <div class="message">Kyle: World!</div>
        <div class="message">Me: lorem ipsum dolor sit amet</div>
        <div class="message">Kyle: this is an example message that is hopefully long enough that it will be broken up into multiple lines as a test.</div>
        <div class="message">Kyle: this is an example message that is hopefully long enough that it will be broken up into multiple lines as a test.</div>
        <div class="message">Kyle: this is an example message that is hopefully long enough that it will be broken up into multiple lines as a test.</div>
        <div class="message">Kyle: this is an example message that is hopefully long enough that it will be broken up into multiple lines as a test.</div>
        <div class="message">Kyle: this is an example message that is hopefully long enough that it will be broken up into multiple lines as a test.</div>
        <div class="message">Kyle: this is an example message that is hopefully long enough that it will be broken up into multiple lines as a test.</div>
        <div class="message">Kyle: this is an example message that is hopefully long enough that it will be broken up into multiple lines as a test.</div>
        <div class="message">Kyle: this is an example message that is hopefully long enough that it will be broken up into multiple lines as a test.</div>
        <div class="message">Kyle: this is an example message that is hopefully long enough that it will be broken up into multiple lines as a test.</div>
        <div class="message">Kyle: this is an example message that is hopefully long enough that it will be broken up into multiple lines as a test.</div>
        <div class="message">Kyle: this is an example message that is hopefully long enough that it will be broken up into multiple lines as a test.</div>
        <div class="message">Kyle: this is an example message that is hopefully long enough that it will be broken up into multiple lines as a test.</div>
      </div>
    </div>
  </div>
</body>
</html>