.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.dropdown-item:active,
.dropdown-item:hover,
.btn-primary:focus {
  filter: hue-rotate(30deg);
  filter: grayscale(70%);
}


.font_C {
  font-family: 'Chakra Petch', sans-serif !important;
}

.font_D {
  font-family: 'Dancing Script', cursive !important;
}

.font_L {
  font-family: 'Lora', serif !important;
}

.font_M {
  font-family: 'Montserrat', sans-serif !important;
}

.font_S {
  font-family: 'Source Code Pro', monospace !important;
}
