<header>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lemonchiffon">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/resources/img/ChSq-Logo.PNG" alt="logo" width="30" height="30" class="d-inline-block align-text-top">
                Home
            </a>
            <div class="collapse navbar-collapse" id="navbar">
                <!-- <ul class="navbar-nav">
                    <li>
                        <a href="/" class="nav-link active">Home</a>
                    </li>
                
                    <a href="/dm" class="nav-link">Direct Message</a>
                </ul> -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <% if (locals.result) { %>
                            <a href="/profile" class="nav-link active">
                                [Profile Name]
                                <img src="/resources/img/Generic-Profile-1600x1600.PNG" alt="pfp" width="30" height="30">
                            </a>
                        <% } else { %>
                            <a href="/login" class="nav-link active">
                                Login/Register
                                <img src="/resources/img/Generic-Profile-1600x1600.PNG" alt="pfp" width="30" height="30">
                            </a>
                        <% } %>
                    </li>
                </ul>
                </div>
            </div>
        </div>
           
       
        
      </nav>
  </header>