<header>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lemonchiffon">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/resources/img/ChSq-Logo.png" alt="logo" width="30" height="30" class="d-inline-block align-text-top">
                Home
            </a>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                      <% if (locals.session.user) { %>
                        <a href="/profile" class="nav-link active">
                                <%= locals.session.user.username %>
                                <img src="/resources/img/Generic-Profile-1600x1600.png" alt="pfp" width="30" height="30">
                            </a>
                        <% } else { 
                            if (locals.pathname === "/login") { %>
                            <a href="/register" class="nav-link active">
                                Register
                            </a>
                            <% } else { %>
                              <a href="/login" class="nav-link active">
                                Login
                              </a>
                            <% } %>
                        <% } %>
                    </li>
                </ul>
                </div>
            </div>
        </div>
           
       
        
      </nav>
  </header>